@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

@layer utilities {
  .special-underline {
    @apply bg-gradient-to-r from-primary-color-500 to-primary-color-500 bg-no-repeat pb-0.5
      font-normal [background-position:0_100%]
      [background-size:100%_0.2em]
      hover:text-white hover:[background-size:100%_100%]
      focus:[background-size:100%_100%]
      motion-safe:transition-all
      motion-safe:duration-300
      dark:from-primary-color-dark-500 dark:to-primary-color-dark-500 dark:hover:text-white;
  }

  .special-underline-new {
    @apply bg-gradient-to-r from-primary-color-500 to-primary-color-500 bg-no-repeat pb-1
      font-normal [background-position:0_100%]
      [background-size:100%_0.1em]
      hover:text-white hover:[background-size:100%_100%]
      focus:[background-size:100%_100%]
      motion-safe:transition-all
      motion-safe:duration-300
      dark:from-primary-color-dark-500 dark:to-primary-color-dark-500 dark:hover:text-white;
  }

  .company {
    box-shadow: inset 0 0 0 0 #55F8B8;
    color: #55F8B8;
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .company:hover {
    box-shadow: inset 200px 0 0 0 #55F8B8;
    color: white;
  }
}

html {
  scroll-behavior: smooth;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

::-moz-selection {
  background: #55F8B8;
}
::-webkit-selection {
  background: #55F8B8;
}
::selection {
  background: #55F8B8;
}
