@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

@layer utilities {
  .special-underline {
    @apply bg-gradient-to-r from-primary-color to-primary-color bg-no-repeat [background-position:0_100%]
      [background-size:100%_0.2em] hover:[background-size:100%_100%]
      focus:[background-size:100%_100%]
      motion-safe:transition-all motion-safe:duration-200
      dark:from-primary-color-dark
      dark:to-primary-color-dark;
  }
}

html {
  scroll-behavior: smooth;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
